body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.full-height {
  height: 100vh;
}

.height-80{
  height: 80vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.code {
  border-right: 2px solid;
  font-size: 26px;
  padding: 0 15px 0 15px;
  text-align: center;
}

.message {
  font-size: 18px;
  text-align: center;
}

.unselectabletext{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.noZIndex{
  z-index:0 !important;
}

.overlay {
  background-color: rgba(255,255,255,0.5); /* Black background with opacity */
  z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
}

.link{
  cursor:pointer;
  text-decoration:underline;
}
.link:hover{
  color:grey !important;
}

.form-group.required .control-label:after { 
  content:"*";
  color:red;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.ptr {
  cursor: pointer;;
}

#__react-alert__>div>div>div{
    font-size:15px;
    width: auto !important;
    text-transform: none !important;
}